<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC Repair</title>

    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{%  static 'home/images/icon.png' %}"/>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<div class="container header" style="padding-bottom:10px">
	<div class="row">
		<div class="col-sm-6">
			<a href="{% url 'home:index' %}">
				<img class="img-responsive" src="{% static 'home/images/logo.png' %}" width="350px" alt="">
			</a>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            {% url 'home:index' as home %}
            {% url 'services:services' as services %}
            {% url 'about:about' as about %}
            {% url 'contact:contact' as contact %}
            {% url 'products:products' as products %}
            {% url 'products:detail' as detail %}

        <li {% if request.path == home %}class="active"{% endif %}><a href="{{ home }}" >Página Principal</a></li>
        <li {% if request.path == services %}class="active"{% endif %}><a href="{{ services }}">Serviços</a></li>
        <li {% if request.path == products or request.path == detail %}class="active"{% endif %}><a href="{{ products }}">Produtos</a></li>
        <li {% if request.path == about %}class="active"{% endif %}><a href="{{ about }}">Sobre nós</a></li>
        <li {% if request.path == contact %}class="active"{% endif %}><a href="{{ contact }}">Contacte-nos</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
    </div>
</nav>


{% block body %}
{% endblock %}


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <address>
                    <strong>PC Repair</strong>
                    <br>Loja nº2, Intermarché
                    <br>Olhão, 8700-228
                    <br>
                </address>
            </div>
            <div class="col-sm-3 hidden-xs">
                <address>
                    <strong>Contactos</strong>
                    <br>
                    <span class="glyphicon glyphicon-earphone"><abbr title="Telefone"></abbr></span> </abbr>(+351) 289 112 490
                    <br>
                    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:algarverepair@gmail.com" style="color:lightskyblue">algarverepair@gmail.com</a>
                </address>
            </div>
            <div class="col-sm-3">
                <strong>Sugestões/Reclamações</strong>
                <p></p>
                <a class="btn btn-default" style="color:white;background:#545454;border-color=white" href="{% url 'contact:contact' %}">Contacte-nos &raquo;</a>
            </div>
            <div class="col-sm-3 text-right">
                <strong>Siga-nos no Facebook</strong>
                <a href="https://www.facebook.com/PC.REPAIR.ALGARVE/" target="_blank">
                    <img src="http://3.bp.blogspot.com/-QAC3YLMm2cU/TnZKBUR1qGI/AAAAAAAAAB0/AZ79F4MNdJo/s1600/facebook-icon-1024x1024.png" width="30px">
                </a>
                <p></p>
                <a href="{% url 'home:index' %}">
				    <img class="img-responsive" src="{% static 'home/images/logowhite.png' %}" align="right" width="200" alt="">
			    </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 col-centered">
                <p>Copyright &copy; PC Repair
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>