{% extends 'base.html' %}

{% block body %}

<div class="container">
<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Remoção de vírus</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
          <p>Vírus e malware no seu computador podem ser bastante perigosos. Um hacker consegue facilmente roubar as suas
          passwords, interferir com o desempenho da sua máquina, entre outras coisas.</p>
          <p>Na PC Repair temos ferramentas especiais para remover todos os vírus do seu computador.</p>
      </div>
        <div class="panel-footer"><strong>Apenas acesse as suas contas bancárias num computador protegido com antivírus</strong></div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Instalação de antivírus</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>O seu computador está sujeito a vírus, ou outros malwares. Estes podem ser desagradáveis ou mesmo perigosos,
        principalmente se insere dados sensíveis no seu PC, tal como as credenciais da sua conta bancária.</p>
          <p>Um bom antivírus irá protegê-lo da maioria destes problemas.</p>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Instalação de software/sistema operativo/drivers</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Se tem dificuldades em instalar algo no seu computador nós podemos ajudar.</p>
          <p>Fazemos instalação de diversos programas e sistemas operativos.</p>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Remoção de software corrompido</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Texto texto texto.</p>
          <p>Mais texto.</p>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Clonagem de disco rígido HDD</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Mantenha as suas fotos, vídeos e dados seguros em mais que uma localização.</p>
          <p></p>
      </div>
        <div class="panel-footer"><strong>Mantenha os seus ficheiros importantes em mais que uma localização</strong></div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        Instalação de HDD/memória portátil</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Mantenha as suas fotos, vídeos e dados seguros em mais que uma localização.</p>
          <p></p>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
        Remoção de password</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Mantenha as suas fotos, vídeos e dados seguros em mais que uma localização.</p>
          <p></p>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
        Recuperação de dados</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Mantenha as suas fotos, vídeos e dados seguros em mais que uma localização.</p>
          <p></p>
      </div>
    </div>
  </div>
    <hr>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
        Redes de computadores</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
        Websites e Aplicações</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
          <p>Se precisa de uma aplicação web personalizada para si ou para o seu negócio veio ao sítio certo.</p>
          <p>Na PC Repair temos programadores especializados em websites e aplicações online que irão tornar as suas
           ideias num produto de alta qualidade.</p>
          <p>Os nossos sites são desenhados a pensar em todas as plataformas e diferentes tamanhos de ecrãs, para uma
          maior qualidade na experiência do utilizador.</p>
          <p>Desenvolvemos vários produtos personalizados, como websites informativos, lojas online, ou aplicações para empresas.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<p>Se tiver alguma dúvida em relação a algum dos serviços que oferecemos ou quiser saber se realizamos um serviço que não
 se encontre aqui mencionado não hesite em contactar-nos.</p>
</div>

{% endblock %}